.grid-container {
    margin-top: 20px;
    align-content: center;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.full-input {
  width: 100%;
}

.next-button {
  margin-top: 25px;
}

.mat-button {
  padding: 0!important;
}