.grid-container {
    margin-top: 20px;
    align-content: center;
}

.full-input {
  width: 100%;
}

.mat-button {
  padding: 0!important;
}

table {
  width: 100%;
}

.mat-card-header{
  //background-color:#009acd !important;
  padding:10px !important;
}
.mind{
  background-color:#009acd !important;
  padding:10px !important;
}
.energy{
  background-color:#e09900 !important;
  padding:10px !important;
}
.nature{
  background-color:#00a760 !important;
  padding:10px !important;
}
.tactics{
  background-color:#6d039e !important;
  padding:10px !important;
}

.mat-card{
  padding:0 !important;
}

.mat-card-content{
  padding:10px !important;
}

.description {
  line-height: 2.2;
  text-align: justify;
}
